/*** Base Styles ***/

body {
	font-family: 'museo-sans', sans-serif;
}

h2 {
	font-family: 'ITC-Avant-Garde-Gothic-Pro', sans-serif;
}

p {
	line-height: 1.55em;
}

/*** Header Section ***/

header {
	padding: 45px 0 85px;
	background-color: #1a1a1a;
	background-image: url('../img/sparrow-header.png');
	background-repeat: no-repeat;
	background-size: 55%;
	background-position: 100% 60%;
}

header > div {
	margin: 0 auto;
	width: 85%;
	max-width: 1400px;
}

#topbar {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	margin-bottom: 80px;
}

header h1 {
	font-family: 'como', sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 45px;
	color: #ff8a3b;
	line-height: 1em;
	margin: 0;
}

header h2 {
	margin: 0px;
	width: 500px;
	font-size: 65px;
	font-weight: 500;
	line-height: 70px;
	color: #ffffff;
}

nav ul {
	list-style: none;
}

nav ul li{
	display: inline-block;
}

nav ul li a{
	margin-left: 90px;
	font-family: 'FreightSans-Pro', sans-serif;
	font-size: 19px;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;
	color: #b3b3b3;
}

nav ul li a:hover {
	border-bottom: 1px solid #3bc8ff;
}

header p {
	margin: 1.5em 0 2em;
	width: 450px;
	font-size: 20px;
	font-weight: 300;
	color: #cccccc;
}

header .learn-more {
	display: inline-block;
	padding: 0 35px;
	height: 60px;
	border: 2px solid #3bc8ff;
	border-radius: 16px;
	font-size: 20px;
	font-weight: 500;
	line-height: 58px;
	text-decoration: none;
	color: #3bc8ff;
}

header .learn-more:hover {
	background-color: #333333;
}

/*** Work Section ***/

#work {
	background: url("../img/background-work.jpg");
	background-size: cover;
}

#work > div {
	max-width: 1400px;
	margin: 0 auto;
	padding: 115px 0;
 	width: 85%;
}

#work .areas {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

#work .areas li {
	width: 30%;
	text-align: center;
}

#work .fab, #work .fas {
	display: inline-block;
	font-size: 50px;
	color: #4d4d4d;
	border: 3px solid #4d4d4d;
	border-radius: 16px;
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 96px;
}

#work p{
	font-size:19px;
	font-weight: 500;
	color: #333333;
}

#portfolio .sites {
	margin-top: 70px;
	padding: 0;
	text-align: center;
	list-style: none;
}

#portfolio .sites h2{
	padding: 0 45px;
	font-size: 22px;
	color: #4d4d4d;
	line-height: 50px;
	border-right: 3px solid #4d4d4d;
}

#portfolio .sites li {
	display: inline-block;
	margin-left: 40px;
}

#portfolio .sites li:first-child {
	margin: 0;
}

#portfolio .sites li a{
	font-size: 21px;
	font-weight: 700;
	color: #4d4d4d;
}

/*** About Section ***/

#about {
	display: flex;
}

#about > div {
	padding: 70px;
	width: 50%;
	text-align: center;
}

#about .orange {
	background-image: url('../img/sparrow-about.png');
	background-size: 75%;
	background-position: center center;
	background-repeat: repeat;
	background-color: #ff8a3b;
}

#about img {
	width: auto;
	height: 7em;
	margin-bottom: 1em;
}

#about h2 {
	font-size: 30px;
	font-weight: 500;
}

#about p {
	text-align: justify;
	font-size: 19px;
	font-weight: 300;
}

/*** Contact Section ***/

#contact {
	padding: 45px 0 85px;
	background-image: url('../img/background-contact.jpg');
	text-align: center;
}

#contact h2 {
	margin: 40px 0;
	font-size: 65px;
	font-weight: 500;
	line-height: 70px;
	color: #ffffff;
}


#contact span {
	color: #3bc8ff;
}

#contact p {
	font-size: 20px;
	font-weight:300;
	color: #cccccc;
}

#contact a {
	font-size: 28px;
	font-weight: 700;
	text-decoration: none;
	color: #ffffff;
}

#contact a:hover {
	color: #3bc8ff;
}

#contact .fab {
	padding: 10px;
	font-size: 50px;
}
